<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
	<bean name="empObj" class="com.spring.contructor.EmployeeBean">
	<!--  
		<constructor-arg value="1234" />
		<constructor-arg value="Satya" />
		<constructor-arg value="42000" />
		<constructor-arg value="SoftWare Engineer" />
	-->
		<constructor-arg index="0" value="1234" />
		<constructor-arg index="3" value="SoftWare Engineer" />
		<constructor-arg index="1" value="Satya" />
		<constructor-arg index="2" value="42000" />
		
	
	</bean>
</beans>